
body{
    background-color: chocolate;
}
.kotak-2{
    width: 800px;
    height: 470px;
    background-color: wheat;
    margin: 90px ;
    margin-right: 320px;
    padding: 20px;
    border-radius: 20px;
    float: right;
}
.opsi{
    float: left;
    height: 600px;
    width: 310px;
    background-color: wheat;
}
.opsi a{
    text-decoration: none;
    color: blue;
    font-size: 26px;
}
table{
    margin-top: 50px;
    margin-left: 50px;
}
